<ng-container [ngSwitch]="type">
    <button *ngSwitchDefault mat-button [color]="color" [disabled]="disabled" (click)="buttonClick($event)" [routerLink]="routerLink" [matTooltip]="toolTip">
    {{ text }}
  </button>
    <button *ngSwitchCase="'raised'" mat-raised-button [color]="color" [disabled]="disabled" (click)="buttonClick($event)" [routerLink]="routerLink" [matTooltip]="toolTip">
    {{ text }}
  </button>
    <button *ngSwitchCase="'stroked'" mat-stroked-button [color]="color" [disabled]="disabled" (click)="buttonClick($event)" [routerLink]="routerLink" [matTooltip]="toolTip">
    {{ text }}
  </button>
    <button *ngSwitchCase="'flat'" mat-flat-button [color]="color" [disabled]="disabled" (click)="buttonClick($event)" [routerLink]="routerLink" [matTooltip]="toolTip">
    {{ text }}
  </button>
    <button *ngSwitchCase="'icon'" mat-icon-button [color]="color" [aria-label]="text" [disabled]="disabled" (click)="buttonClick($event)" [routerLink]="routerLink" [matTooltip]="toolTip" style="padding: 0px; margin: 0px;">
    <mat-icon>{{icon}}</mat-icon>
  </button>
    <button *ngSwitchCase="'fab'" mat-fab [color]="color" [disabled]="disabled" [aria-label]="text" (click)="buttonClick($event)" [routerLink]="routerLink" [matTooltip]="toolTip">
    {{ icon ? '' : text }}
    <mat-icon *ngIf="icon">{{icon}}</mat-icon>
  </button>
    <button *ngSwitchCase="'mini-fab'" mat-mini-fab [color]="color" [disabled]="disabled" [aria-label]="text" (click)="buttonClick($event)" [routerLink]="routerLink" [matTooltip]="toolTip">
    {{ icon ? '' : text }}
    <mat-icon *ngIf="icon">{{icon}}</mat-icon>
  </button>
</ng-container>