<mat-card>
    <mat-card-header *ngIf="title != null">
        <mat-card-title>
            <h1>
                {{title}}
            </h1>
        </mat-card-title>
        <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ng-content select="[cardContent]"></ng-content>
    </mat-card-content>
</mat-card>