<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<style>
    /*
    .item:hover {
        background-color: var(--red-color) !important;
        color: white !important;
    }
    
    .item {
        background: none !important;
    }
    
    .text-color {
        color: var(--white-color) !important;
    }
    
    .icon-color {
        color: var(--yellow-color) !important;
    }
    */
</style>
<mat-nav-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuAreas" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="item" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon class="icon-color">{{ menuitem.icon }}</mat-icon>
            <div class="text-color">{{ menuitem.name }}</div>
            <span fxFlex></span>

        </a>


    </mat-list-item>

</mat-nav-list>