<mat-label>{{label}} {{formGroup.controls[name].hasError('required') ? '*' : ''}}</mat-label>
<mat-checkbox *ngFor="let checkboxOption of checkboxOptions" [value]="checkboxOption.value">
  {{checkboxOption.label}}
</mat-checkbox>
