<mat-form-field [formGroup]="formGroup" appearance="outline" (click)="dp.open()">
    <mat-label>{{label}} {{formGroup.controls[name].hasError('required') ? '*' : ''}}</mat-label>
    <input matInput [matDatepicker]="dp" (onChange)="change($event)" [formControlName]="name" (click)="dp.open()" autocomplete="off">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp [startView]="tipoCalendario" [startAt]="startDate"></mat-datepicker>
    <mat-error *ngIf="formGroup.controls[name].hasError('required')&& (formGroup.controls[name].dirty || formGroup.controls[name].touched)">
        {{messageRequired}}
    </mat-error>
</mat-form-field>
