<style>
  .example {
    max-height: 400px;
    overflow: auto;
  }

  * {
    margin: 0;
    border: 0;
    padding: 0;
  }
</style>
<div class="row">
  <div class="uploadfilecontainer col-xs-12 col-sm-4 col-md-4 col-lg-4" (click)="fileInput.click()" appDragDrop
       (onFileDropped)="uploadFile($event)" [formGroup]="formGroup">
    <img src="./../../../../assets/images/folder-upload.png" width="100px" height="100px">
    <input hidden type="file" #fileInput [accept]="accept" (change)="uploadFile($event.target.files)" [multiple]="multiple">
    <br>
    <label>Dar clic o arrastrar documentos <strong>aquí</strong></label>
    <mat-error *ngIf="formGroup.controls[name].hasError('required')">
      {{messageRequired}}
    </mat-error>
  </div>


  <div *ngIf="files.length > 0" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 example">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre</th>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Tamaño</th>
        <td mat-cell *matCellDef="let element"> {{ readableBytes(element.size) }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <app-button type="icon" icon="delete" color="warn" (buttonClickEvent)="deleteAttachment(i)"
                      toolTip="Eliminar"></app-button>
        </td>
      </ng-container>

      <ng-container matColumnDef="noRecord">
        <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">No hay archivos adjuntos.</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-footer-row *matFooterRowDef="['noRecord']" [hidden]="dataSource"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div align="end" *ngIf="multiple">
      <app-button type="raised" text="Eliminar todos" color="warn"
                  (buttonClickEvent)="deleteAttachments()"></app-button>
    </div>

  </div>
</div>
