.uploadfilecontainer {
  height: 200px;
  width: 50%;
  margin: 20px auto;
  border: 2px dashed #ECEAEA;
  border-radius: 10px;
  text-align: center;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #BED9ED !important;
  opacity: 0.8;
}

.uploadfilecontainer img {
  margin-top: 15px;
}

.uploadfilecontainer label {
  font-size: small;
}

table {
  width: 100%;
}
