<p>{{titulo}}</p>
<div class="sobraDIV" >
  <div>
  <div>
    <div *ngIf="dataGrafica">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [colors]="barChartColors"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>

</div>

