<div class="footer">
    <span><strong>Secretaría de Salud de Veracruz</strong></span><br>
    <span>Soconusco #31 Col. Aguacatal C.P. 91130 Xalapa, Ver. Tel: <strong>(228) 842-3000</strong></span><br>
    <span><a href="https://www.ssaver.gob.mx/" target="_blank">https://www.ssaver.gob.mx/</a></span>
</div>