/*Footer*/

.footer {
    height: var(--height-footer);
    background-color: var(--light-gray-color);
    text-align: center;
    color: var(--gray-color);
    font-size: 12px;
    padding-top: 10px;
    /* box-shadow: inset 2px 6px 20px -6px rgba(0, 0, 0, 0.35); */
}

.footer a {
    color: var(--gray-color);
}