<mat-form-field [formGroup]="formGroup" appearance="outline">
    <mat-label>{{label}} {{formGroup.controls[name].hasError('required') ? '*' : ''}}</mat-label>
    <mat-select [compareWith]="compareObjects" (selectionChange)="change($event)" [formControlName]="name" [disabled]="disabled">
        <mat-option *ngFor="let item of items" [value]="item.value" [disabled]="item.disabled">
            {{item.label}}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="formGroup.controls[name].hasError('required')&& (formGroup.controls[name].dirty || formGroup.controls[name].touched)">
        {{messageRequired}}
    </mat-error>
</mat-form-field>