<mat-label>{{label}} {{formGroup.controls[name].hasError('required') ? '*' : ''}}</mat-label>
<mat-radio-group>
  <mat-radio-button *ngFor="let radioOption of radioOptions" [value]="radioOption.value">
    {{radioOption.label}}
  </mat-radio-button>
  <mat-error
    *ngIf="formGroup.controls[name].hasError('required')&& (formGroup.controls[name].dirty || formGroup.controls[name].touched)">
    {{messageRequired}}
  </mat-error>
</mat-radio-group>
