<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="changePage($event)" #paginador>
</mat-paginator>
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="{{column.field}}" *ngFor="let column of columns">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="columns-title" [ngStyle]="{'width': column.width}"> {{column.title}}</mat-header-cell>
            <!-- <mat-cell *matCellDef="let element" [attr.data-label]="column.title" [ngClass]="{'gris': element.estatusCfdiSis === 'CANCELADO'}" style="padding-left: 15px; padding-right: 15px;"> -->
            <mat-cell *matCellDef="let element" [attr.data-label]="column.title" class="espacido" [ngStyle]="column.style">
                <p *ngIf="column.field !== 'acciones'">{{ column.cell ? column.cell(element) : element[column.field]}}</p>
                <div *ngIf="column.field === 'acciones'">
                    <ng-container *ngTemplateOutlet="_acciones; context: {element: element}"></ng-container>
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noRecord">
            <mat-footer-cell *matFooterCellDef [attr.colspan]="getDisplayedColumns().length">No hay registros.
            </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
        <mat-footer-row *matFooterRowDef="['noRecord']" [ngStyle]="{'display': dataSource?.length > 0 ? 'none' : null}"></mat-footer-row>
        <mat-row *matRowDef="let row; columns: getDisplayedColumns();">
        </mat-row>
    </mat-table>

</div>
<!-- dataSourceTable:

<hr> dataSource
<pre>{{dataSource | json}}</pre>
<hr> dataSourceTableOtro: -->