<p>{{titulo}}</p>

<div class="sobraDIV" id="print-section">
<div>
  <div>
    <div>
      <div *ngIf="dataGrafica">
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="lineChartColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
