<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<style>
    .data-user {
        float: right;
    }
    
    .data-user-area {
        font-size: 14px;
    }
    
    .data-user div {
        margin: 0 !important;
        padding: 0 !important;
    }
</style>
<div fxShow="false" fxShow.gt-sm class="data-user">
    <div class="data-user-name">{{nameUser}} </div>
    <div class="data-user-area">{{nameArea}} </div>
</div>
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/avatar.png" alt="user" class="profile-pic"> </button>

<mat-menu #profile="matMenu" class="mymegamenu">
    <div style="padding-left: 15px; padding-right: 15px; font-size: 14px; color: rgba(0, 0, 0, 0.692);" fxShow="false" fxShow.lt-md>
        <div>
            <b>{{nameUser}}</b>
        </div>
        <div>{{nameArea}}</div>
        <hr>
    </div>
    <!-- <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profile </button> -->
    <!-- <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications </button> -->
    <a mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Salir
    </a>


</mat-menu>