<style>
    .fondo {
        background-repeat: no-repeat;
        background-size: 45%;
        background-position: 100% 68px;
        background-image: url('assets/images/grega.png');
    }
    
    .header {
        max-height: 80px;
        min-height: 80px;
        background-color: var(--light-gray-color);
    }
    
    .img-header {
        min-height: 80px;
        max-height: 80px;
        max-width: 600px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        background-image: url('assets/images/logos/encabezado.png');
    }
</style>

<div class="login fondo">
    <div class="header">
        <div class="img-header"></div>
    </div>

    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

        <mat-card class="">
            <mat-card-header>
                <mat-card-title>
                    SESVER
                    <div>({{ambiente}})</div>
                </mat-card-title>
                <mat-card-subtitle>Plantilla base para sistemas SESVER</mat-card-subtitle>
            </mat-card-header>

            <form [formGroup]="form" class="example-form">
                <mat-card-content>
                    <app-input [formGroup]="form" label="Usuario" name="user"></app-input>
                    <app-input-password [formGroup]="form" label="Contraseña" name="pass"></app-input-password>
                </mat-card-content>
                <div class="btn-ingresar">
                    <app-button type="raised" color="primary" name="btnLogin" text="Ingresar" (buttonClickEvent)="login()" [disabled]="!form.valid"></app-button>
                </div>
            </form>
        </mat-card>

    </div>
</div>
<app-footer></app-footer>