<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

<style>
    .fondo-main {
        background-image: url('assets/images/greca.png');
        background-repeat: no-repeat;
        background-position: 100% 50px;
    }
</style>
<div class="main-container">
    <!-- ============================================================== -->
    <!-- Topbar - style you can find in header.scss -->
    <!-- ============================================================== -->
    <mat-toolbar class="topbar telative">
        <!-- ============================================================== -->
        <!-- Logo - style you can find in header.scss -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <!-- Logo icon -->
                <b>
        <i class="wi wi-sunset"></i>
       
    
        <!-- Light Logo icon -->
        <style>
            .img-logo {
                width: 200px;
                height: 64px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url('assets/images/logos/logo-icono_sesver.png');
            }
        </style>
        <div class="img-logo"></div>
        
      </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span fxShow="false" fxShow.gt-xs>
                    <span style="color: #454545;">SISTEMA BASE</span>
                <!-- dark Logo text -->
                <!-- <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo"> -->
                <!-- Light Logo text -->
                <!-- <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage"> -->

                </span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- sidebar toggle -->
        <!-- ============================================================== -->
        <style>
            .btnMenu {
                margin-left: 160px;
            }
            
            @media only screen and (max-width: 768px) {
                .btnMenu {
                    margin-left: 0px;
                }
            }
        </style>
        <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed" class="btnMenu">
            <mat-icon>menu</mat-icon>
        </button>

        <span fxFlex.lt-md></span>

        <div class="encabezado-img" fxShow="false" fxShow.gt-sm fxFlex>

        </div>
        <!-- ============================================================== -->
        <!-- app header component - style you can find in header.scss / header.component.ts-->
        <!-- ============================================================== -->
        <app-header></app-header>
    </mat-toolbar>
    <!-- ============================================================== -->
    <!-- End Topbar - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">


        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->
        <style>
            .sidebar {
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: bottom;
                background-color: #454545;
                background-image: url('assets/images/greca_dorada.png');
            }
        </style>

        <mat-sidenav #snav id="snav" class="sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">

            <app-sidebar></app-sidebar>


        </mat-sidenav>
        <!-- ============================================================== -->
        <!-- Sidebar - style you can find in sidebar.scss -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->


        <mat-sidenav-content class="page-wrapper">
            <!-- Contenido principal -->
            <div class="main fondo-main">
                <router-outlet>
                    <xng-breadcrumb separator=">">
                        <ng-container *xngBreadcrumbItem="let breadcrumb; let info = info; let first = first">
                            <mat-icon *ngIf="info">{{ info }}</mat-icon>
                            <ng-container *ngIf="!first">{{ breadcrumb }}</ng-container>
                        </ng-container>
                    </xng-breadcrumb>
                    <app-spinner></app-spinner>
                </router-outlet>
            </div>
            <app-footer></app-footer>

        </mat-sidenav-content>
        <!-- ============================================================== -->
        <!-- Page container - style you can find in pages.scss -->
        <!-- ============================================================== -->
    </mat-sidenav-container>
</div>