<mat-form-field [formGroup]="formGroup" appearance="outline">
    <mat-label>{{label}} {{formGroup.controls[name].hasError('required') ? '*' : ''}}</mat-label>
    <input matInput type="number" #ejemplo [placeholder]="label" [formControlName]="name" (onChange)="change($event)" max="9999" [maxlength]="maxCharacters">
    <mat-hint align="end" *ngIf="maxCharacters">{{ejemplo.value.length}} / {{maxCharacters}}</mat-hint>
    <mat-error *ngIf="formGroup.controls[name].hasError('required')&& (formGroup.controls[name].dirty || formGroup.controls[name].touched)">
        {{messageRequired}}
    </mat-error>
</mat-form-field>