/* You can add global styles to this file, and also import other style files */

@import url(assets/styles/animation.css);
:root {
    --red-color: #93173A;
    --yellow-color: #cab87c;
    --gray-color: #2f353a;
    --white-color: white;
    --light-gray-color: #ECEAEA;
    /*---------------FOOTER*/
    --height-footer: 80px;
}

.mat-snack-bar-container .flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}