<!-- <div class="buscador">
    <form [formGroup]="form" class="row" style="text-align: center;">
        <app-input [formGroup]="form" name="buscador" label="Buscador" class="col-xs-8 col-sm-10 col-md-10 col-lg-11"></app-input>
        <app-button type="fab" icon="search" color="primary" (buttonClickEvent)="buscar($event)" [disabled]="!form.valid" class="col-xs-4 col-sm-2 col-md-2 col-lg-1"></app-button>
    </form>
</div>
 -->

<!-- <mat-form-field [formGroup]="formGroup" appearance="outline">
    <mat-label>{{label}} {{formGroup.controls[name].hasError('required') ? '*' : ''}}</mat-label>
    <input matInput [placeholder]="label" [formControlName]="name" (onChange)="change($event)">
    <mat-icon matSuffix (click)="buscar()" style="cursor: pointer;">search</mat-icon>
    <mat-error *ngIf="formGroup.controls[name].hasError('required')&& (formGroup.controls[name].dirty || formGroup.controls[name].touched)">
        {{messageRequired}}
    </mat-error>
</mat-form-field> -->

<form [formGroup]="form" (submit)="buscar()">
    <mat-form-field appearance="outline">
        <mat-label>Buscador</mat-label>
        <input formControlName="buscador" name="buscador" matInput placeholder="Buscador">
        <mat-icon matSuffix (click)="buscar()" style="cursor: pointer; color: #67757c">search</mat-icon>
    </mat-form-field>
</form>