<mat-form-field [formGroup]="formGroup" appearance="outline">
    <mat-label>{{label}} {{formGroup.controls[name].hasError('required') ? '*' : ''}}</mat-label>
    <input type="password" matInput [placeholder]="label" [formControlName]="name" (onChange)="change($event)" [attr.maxLength]="maxCharacters">
    <mat-hint align="end" *ngIf="maxCharacters">{{formGroup.controls[name].value.length}} / {{maxCharacters}}</mat-hint>
    <mat-error *ngIf="formGroup.controls[name].hasError('required')&& (formGroup.controls[name].dirty || formGroup.controls[name].touched)">
        {{messageRequired}}
    </mat-error>
</mat-form-field>